includes:
  - ./vendor/larastan/larastan/extension.neon
  - ./vendor/jangregor/phpstan-prophecy/extension.neon
  - ./vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
parameters:
  paths:
    - app
    - tests
    - Thomas
  excludePaths:
    - Thomas/Shared/Infrastructure/DynamoDbEventStore.php
    - app/Providers/CustomUserProvider.php
    - app/Models/User.php
    - app/Http/Middleware/Authenticate.php
  level: 9
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - identifier: missingType.iterableValue
    - identifier: missingType.generics
    - '/Property [A-Za-z\\]+::\$[A-Za-z]+ is never read, only written./'
