includes:
  - ./vendor/nunomaduro/larastan/extension.neon
  - ./vendor/jangregor/phpstan-prophecy/extension.neon
parameters:
  paths:
    - app
    - tests
    - Thomas
  level: 8
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  ignoreErrors:
    - '/Property [A-Za-z\\]+::\$[A-Za-z]+ is never read, only written./'
    - '/Parameter #1 \$callback of function call_user_func expects callable\(\)/'
